<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalısanTakipSistemi.Properties.Settings.CalisanTakipConnectionString"
            connectionString="Data Source=DESKTOP-B6GKBCE\SQLEXPRESS;Initial Catalog=CalisanTakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>